
// Fonts

$main-font: 'Roboto', sans-serif;


// Colors

$black-color: #1F2E35;
$white-color: #fff;
$red-color: #EE4248;
$nav-link-color: #8d8c8b;
$subtitle-color:#30444e;
$footer-about-color:#263238;
$dsi-background-color:#f6f6f6;
$buttom-color: #ff8541;
$border-color:#555351;
$background-color:#F9F8F6;

// Sizes

$max-width-container: 1173px;
