.action{
  height: 600px;
  margin-bottom: 70px;
  &-row{
    display: flex;
    @include flex(center, space-between);
    padding: 48px;
    border-radius: 26px;
    margin-top: 50px;
    background-color: $background-color;
  }
  &-row_content__title{
    font-family: $main-font;
    font-weight: 600;
    font-size: 31px;
    color: $buttom-color;
  }
  &-row_content__subtitle{
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: $main-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: $border-color;
  }
}